{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-companysecondpage{% endblock %}

{% block content %}
    <!--幻灯片大图开始-->
    <div id="banner_main" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="100">
        <div id="banner" class="banner">
            <ul class="list clearfix">
                {% for item in page.banner_images.all %}
                    <li><a href="javascript:;">{% image item.banner_image fill-1920x550 %}</a></li>
                {% endfor %}
            </ul>
            <div class="tip"></div>
            <div class="text">
                <p>量霸愿景</p>
                <p>助推金融科技进步，助力国家伟大复兴！</p>
            </div>

        </div>
    </div>
    <!--幻灯片大图结束-->
    {{ page.body|richtext }}

{% endblock %}