{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-companysitechildpage{% endblock %}

{% block content %}
    <!--内页大图开始-->
    <div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">
        {% with page.top_image as content %}
        {% if content %}{% image content.image fill-1920x300 alt=content.info %}{% endif %}
        {% endwith %}
    </div>
    <!--内页大图结束-->

    <div class="submian">
        <div class="container clearfix">
            <div class="subright">
                <!--title1大标题-->
                <h3 class="title1">中国正将经济治理框架的重点，从增长优先转向平衡增长和安全，特别是社会安全、数据安全和产业链安全。</h3>

                <!--作者头像简介-->
                <div class="author">
                    <div class="author-pic">
                        <img src="{% static 'images/robin-xing.jpg' %}" alt="">
                    </div>
                    <div class="author-text">
                        <span class="name">作者</span><br>
                        <span class="title">简介简介简介</span>
                    </div>
                </div>
                <!--作者头像简介结束-->
                <hr>

                <!--title2小标题-->
                <!--p标签正文-->
                <p class="text">目前正值中国经济和资本市场历史的一个重要转折点。经过过去十年的较高速增长、脱贫攻坚战取得了全面胜利之后，企业巨头化、收入差距扩大逐渐成为中国和全球各国面临的共同挑战，再叠加逆全球化和人口老化的影响，中国正将经济治理框架的重点，从增长优先转向平衡增长和安全，特别是社会安全、数据安全和产业链安全。这一框架对于市场意味着什么？</p>
                <h4 class="title2">逐步建立经济治理新机制</h4>
                <p class="text">近期中国政府对金融科技、互联网平台、加密货币、碳排放、校外培训等行业的监管行动并非突兀之举，都是本轮治理框架转变的重要组成部分。纷至沓来的监管措施似乎让海外投资者始料未及，某些海外媒体也发出了一些相对片面的解读声音。但从大方向上来看，应该非常明确：中国正逐步建立的经济治理新机制，可通过堵漏洞、补短板、稳杠杆，降低系统性风险，增强社会公平、国家安全和产业链自主性。</p>
                <p class="text">例如，反垄断法主要针对禁止科技巨头滥用市场支配地位，强迫商户签订排他性协议，侵蚀一些中小企业甚至新兴企业的空间；金融科技监管则重在打击监管套利行为并降低金融稳定风险；针对外卖平台的指导意见旨在保障灵活就业人员的基本医疗和社会福利。而7月开始，中国提出加强对数据类企业海外上市和“数据跨境”的监管，或也是出于数据安全风险方面的考虑。</p>

                <!--单页内容开始-->
                {% for block in page.stream %}
                    {% if block.block_type == 'source_code' %}
                        {% include_block block %}
                    {% elif block.block_type == 'info' %}
                        {% include_block block %}
                    {% else %}
                        {% image block.value width-400 %}
                    {% endif %}

                {% endfor %}
                <!--单页内容结束-->
            </div>
        </div>
    </div>

{% endblock %}