{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-companysitepage{% endblock %}

{% block content %}
    <!--幻灯片大图开始-->
    <div id="banner_main" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="100">
        <div id="banner" class="banner">
            <ul class="list clearfix">
                {% for item in page.banner_images.all %}

                    <li><a href="javascript:;">{% image item.banner_image fill-1920x550 %}</a></li>
                {% endfor %}
            </ul>
            <div class="tip"></div>
            <div class="text">
                <p>量霸愿景</p>
                <p>助推金融科技进步，助力国家伟大复兴！</p>
            </div>
{#            <a href="javascript:;" id="btn_prev" class="ico"></a> <a href="javascript:;" id="btn_next" class="ico"></a>#}
        </div>
    </div>
    <!--幻灯片大图结束-->

    <div class="index">
        <!--最新观点开始-->
        <div class="point" aos="fade-up" aos-easing="ease" aos-duration="700">
            <!--模板1-->
            <div class="row w1200">
                <div class="col-two col-md-8 col-xs-12">
                    <img src="{% static 'images/point.png'  %}" alt="">
                    <div class="content-main">
                        <h3>用中国量化智慧点亮全球资本市场</h3>
                        <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                    </div>
                </div>
                <div class="col-one col-md-4 col-xs-12">
                    <div class="main">
                        <div class="img-warp"><img src="{% static 'images/图片1.png' %}" alt=""></div>
                        <div class="content-main">
                            <span>思想</span>
                            <h3>用中国量化智慧点亮全球资本市场</h3>
                            <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--模板2-->
            <div class="row w1200">
                <div class="col-one col-md-4 col-xs-12">
                    <div class="main">
                        <div class="img-warp"><img src="{% static 'images/图片1.png' %}" alt=""></div>
                        <div class="content-main">
                            <span>思想</span>
                            <h3>用中国量化智慧点亮全球资本市场</h3>
                            <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                        </div>
                    </div>

                </div>
                <div class="col-two col-md-8 col-xs-12">
                    <img src="{% static 'images/point.png' %}" alt="">
                    <div class="content-main">
                        <h3>用中国量化智慧点亮全球资本市场</h3>
                        <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                    </div>
                </div>
            </div>

            <!--模板3-->
            <div class="row w1200">
                <div class="col-one col-md-4 col-xs-12">
                    <div class="main">
                        <div class="img-warp"><img src="{% static 'images/图片1.png' %}" alt=""></div>
                        <div class="content-main">
                            <span>思想</span>
                            <h3>用中国量化智慧点亮全球资本市场</h3>
                            <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                        </div>
                    </div>

                </div>
                <div class="col-three col-md-8 col-xs-12">
                    <div class="column_main">
                         <div class="content-main col-md-6">
                            <span>思想</span>
                            <h3>用中国量化智慧点亮全球资本市场</h3>
                            <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                        </div>
                        <div class="col-md-6" style="padding: 0 !important;">
                            <img src="{% static 'images/about.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="column_main mt">
                        <div class="col-md-6" style="padding: 0 !important;">
                            <img src="{% static 'images/about.jpg' %}" alt="">
                        </div>
                         <div class="content-main col-md-6">
                            <span>思想</span>
                            <h3>用中国量化智慧点亮全球资本市场</h3>
                            <p>坚持盈利增长，坚持技术先进，坚持社会奉献；坚持长期主义！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--最新观点结束-->

        <!--小banner开始-->
        <div class="index_slip index_slip1" aos="fade-up" aos-easing="ease" aos-duration="700">
            <div class="slip w1200">
                <div class="slip_tit fl">
                    <p class="tit2" aos="fade-up" aos-easing="ease" aos-duration="700"
                       aos-delay="700">{{ page.index_ask_info }}</p></div>
                <a class="slip_btn fl" aos="fade-left" aos-easing="ease" aos-duration="700" aos-delay="400"
                   href="{% slugurl 'contact' %}">立即咨询</a></div>
        </div>
        <!--小banner结束-->

        <!--关于我们开始-->
        <div id="floor_1_main">
            <div class="floor_1 w1200">
                <div class="about clearfix">
                    <a class="item fl" href="javascript:;" aos="fade-right" aos-easing="ease" aos-duration="700">

                        <img src="{% static '/images/关于我们.png' %}" alt="{{ companyinfo.name }}"/></a>
                    <div class="contW fl">


                        <div class="title"><p class="entit" aos="fade-up" aos-easing="ease" aos-duration="700"
                                              aos-delay="300">ABOUT US</p>
                            <h3 class="tit" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="400">关于我们</h3>
                        </div>
                        <a href="{% slugurl 'about' %}"><p class="cont" aos="fade-up" aos-easing="ease" aos-duration="700"
                                                       aos-delay="500">
                            {{ companyinfo.digest }}...</p>
                            <p class="view_detail" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="600">
                                详情>></p></a>
                    </div>
                </div>
            </div>
        </div>
        <!--关于我们结束-->


    </div>
{% endblock %}