<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static wagtailcore_tags %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <title>
        {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
    </title>
    <meta name="viewport" content="width=1380">
    <link href="{% static '/css/aos.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/css/common.css' %}" rel="stylesheet">
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/jquery.SuperSlide.2.1.1.js' %}"></script>
    <script src="{% static '/js/mobile.js' %}"></script>
    <script src="{% static '/js/echarts.min.js' %}"></script>
    <script>$(function () {
        $("#cur").addClass("hover");
    })</script>
    {% block headjs %}
    {% endblock %}
    {% block headcss %}
    {% endblock %}
</head>
<body>

<!--浮动客服开始-->
<dl class="toolbar" id="toolbar">
    <dd><a class="slide tel slide-tel" href="javascript:;" title="咨询热线"><i><span></span></i>{{ companyinfo.phone }}</a>
    </dd>
    <dd>
        <a href="tencent://message/?uin={{ companyinfo.qq }}&Menu=yes& Service=300&sigT=42a1e5347953b64c5ff3980f8a6e644d4b31456cb0b6ac6b27663a3c4dd0f4aa14a543b1716f9d45"
           title="在线QQ"><i class="qq"><span></span></i></a></dd>
    <dd><i class="code"><span></span></i>
        <ul class="pop pop-code">
            <li>

                <img src="{{ MEDIA_URL }}{{ companyinfo.qrcode }}" alt="{{ companyinfo.name }}"/>
                <h3><b>微信号：{{ companyinfo.weichat }}</b>微信二维码</h3></li>
        </ul>
    </dd>
    <dd><a href="javascript:;"><i id="top" class="top"><span></span></i></a></dd>
</dl>
<!--浮动客服结束-->


<div class="header_main">
    <div class="header w1200 clearfix"><a class="logo fl" href="{% slugurl 'index' %}" title="{{ companyinfo.name }}"
                                          aos="fade-right"
                                          aos-easing="ease" aos-duration="700" aos-delay="100" aos-duration="700">

        <img src="{{ MEDIA_URL }}{{ companyinfo.logo }}" alt="{{ companyinfo.name }}"></a>
        <div class="tel fl" aos="fade-left" aos-easing="ease" aos-duration="700" aos-delay="100"><s
                class="ico"></s><span>{{ companyinfo.phone }}</span><br/><span>{{ companyinfo.telephone }}</span></div>
        <!--搜索栏开始-->
        <div class="search fr" aos="fade-left" aos-easing="ease" aos-duration="700" aos-delay="100">
            <form action="{% slugurl 'products' %}" method="get">
                <input class="stxt" type="text" name="keywords" placeholder="请输入关键字" required/>
                <input type="submit" class="sbtn" value="搜索"/></form>
        </div>
        <!--搜索栏结束-->
    </div>
</div>
<!--页头结束-->
<!--导航开始-->

<div class="nav_main" aos="fade-down" aos-easing="ease" aos-duration="700">
    <div class="nav w1200">
        <ul class="list clearfix" id="nav">
            <li><a href="{% slugurl 'index' %}" title="网站首页" class="{% ifequal request.path '/' %}hover{% endifequal %}">首页</a>
            </li>
            <li><a href="{% slugurl 'about' %}" title="关于我们"
                   class="{% ifequal request.path|slice:'6' '/about' %}hover{% endifequal %}">我们是谁</a>

            </li>
            <li><a href="{% slugurl 'news' %}" title="新闻动态"
                   class="{% ifequal request.path|slice:'5' '/news' %}hover{% endifequal %}">新闻动态</a>

            </li>

            <li><a href="{% slugurl 'recruits' %}" title="人才招聘"
                   class="{% ifequal request.path|slice:'9' '/recruits' %}hover{% endifequal %}">加入量霸</a>

            </li>
            <li><a href="{% slugurl 'contact' %}" title="联系我们"
                   class="{% ifequal request.path|slice:'8' '/contact' %}hover{% endifequal %}">联系量霸</a>

            </li>
        </ul>
    </div>
</div>
<!--导航结束-->
{% block content %}
{% endblock %}
<!--页尾开始-->
<div class="footer">
    <div class="w1200 clearfix">
        <!--友情链接开始-->
        <div class="links" aos="fade-up" aos-easing="ease" aos-duration="700">
            <span>友情链接：</span>
            {% for friendly_link in friendly_links %}
                <a href="{{ friendly_link.friendly_link }}" title="{{ friendly_link.title }}"
                   target="_blank">{{ friendly_link.title }}</a>
            {% endfor %}
        </div>
        <!--友情链接结束-->

        <!--联系方式开始-->
        <div class="contact tel fl" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="300">
            <!--二维码开始-->
            <div class="ewm fl">

                <img src="{{ MEDIA_URL }}{{ companyinfo.qrcode }}" alt="{{ companyinfo.name }}"/></div>
            <!--二维码结束-->
            <div class="contact_info fl">
                <p class="p1">咨询热线:</p>
                <p class="tel">{{ companyinfo.phone }}</p>
                <p class="p2">联系人：{{ companyinfo.linkman }}</p>
                <p class="p1">邮　箱：{{ companyinfo.email }}</p></div>
        </div>
        <!--联系方式结束-->

        <!--底部导航开始-->
        <div class="bNav fr" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="300">

            <div class="item"><h3><a href="{% slugurl 'about' %}" title="关于我们">我们是谁</a></h3>
                <a href="{% slugurl 'about' %}" title="公司简介">公司简介</a>
                <a href="{% slugurl 'about' %}?flag=" title="荣誉资质">荣誉资质</a></div>

            <div class="item"><h3><a href="{% slugurl 'news' %}" title="新闻动态">新闻动态</a></h3>
                <a href="{% slugurl 'news' %}?category=gsxw" title="公司新闻">公司新闻</a>

            </div>
            <div class="item"><h3><a href="{% slugurl 'recruits' %}" title="人才招聘">加入量霸</a></h3>
                <a href="{% slugurl 'recruits' %}" title="人才理念">人才理念</a>
            </div>
            <div class="item"><h3><a href="{% slugurl 'contact' %}" title="联系我们">联系量霸</a></h3>
            </div>
        </div>
    <!--底部导航结束-->
    </div>
</div>
<!--页尾结束-->

<!--版权开始-->
<div class="copyright">
    <div class="w1200">
        Copyright @ 2020 {{ companyinfo.name }}　地址：{{ companyinfo.address }}　备案号：<a href="javascript:;" target="_blank"
                                                                                    title="{{ companyinfo.record_nums }}">{{ companyinfo.record_nums }}</a>
        <p class="fr">技术支持：<a href="javascript:;" target="_blank"
                              title="{{ companyinfo.name }}">{{ companyinfo.name }}</a>
        </p></div>
</div>
<!--版权结束-->


{% block footjs %}
{% endblock %}
<script src="{% static '/js/aos.js' %}"></script>
<script src="{% static '/js/app.js' %}"></script>
<script type="text/javascript">
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });
</script>
<!--弹窗插件开始-->

</body>
</html>