{% extends 'base.html' %}
<!-- 以下3行是留给小白的，可删除 -->

{% load static %}
{% block content %}
    <!--幻灯片大图开始-->
    <div id="banner_main" aos="fade-up" aos-easing="ease" aos-duration="700" aos-delay="100">
        <div id="banner" class="banner">
            <ul class="list clearfix">
                {% for carousel in carousels %}
                    <li><a href="javascript:;"><img src="{{ MEDIA_URL }}{{ companyinfo.topimg }}" alt=""/></a></li>
                {% endfor %}
            </ul>
            <div class="tip"></div>
            <a href="javascript:;" id="btn_prev" class="ico"></a> <a href="javascript:;" id="btn_next" class="ico"></a>
        </div>
    </div>
    <!--幻灯片大图结束-->
{% endblock %}