{% extends 'base.html' %}
<!-- 以下3行是留给小白的，可删除 -->
{% load static wagtailcore_tags wagtailimages_tags %}
{% block headjs %}
    <link rel="stylesheet" href="{% static '/css/fullpage.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static '/js/fullpage.js' %}"></script>
    <script src="{% static '/js/stock.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="home-banner">
        <img src="{% static 'images/banner.png' %}" alt="">
        <div class="text-title">
            <h3>量化交易, 从聚宽开始</h3>
            <span>我们提供免费的量化数据、投研工具、量化学习体系、在线交流社区,我们提供免费的量化数据、投研工具、量化学习体系、在线交流社</span>
        </div>
    </div>
    <div class="section1">
        <div class="content">
                <!--日k线-->
                <div class="main">
                    <h3 class="title">卡片标题</h3>
                    <div id="main" style="width: 500px;height: 400px;margin: 0 auto;" ></div>
                    <ul class="desc-box">
                        <li><span>年化收益</span><span class="red">21.9%</span></li>
                        <li><span>最大回撤</span><span class="red">21.9%</span></li>
                        <li><span>初始资金</span><span class="red">21.9%</span></li>
                    </ul>
                    <div class="desc-text">可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述</div>
                </div>

                <!--动态数据-->
                <div class="main">
                    <h3 class="title">卡片标题</h3>
                    <div id="main2" style="width: 500px;height: 400px;margin: 0 auto;"></div>
                    <ul class="desc-box">
                        <li><span>年化收益</span><span class="red">21.9%</span></li>
                        <li><span>最大回撤</span><span class="red">21.9%</span></li>
                        <li><span>初始资金</span><span class="red">21.9%</span></li>
                    </ul>
                    <div class="desc-text">可在此处添加描述可在此处添加描述可在此处添加描述可在此处添加描述</div>
                </div>

                <!--周k线-->
                <div class="main">
                    <h3 class="title">卡片标题</h3>
                    <div id="main3" style="width: 500px;height: 400px;margin: 0 auto;"></div>
                    <ul class="desc-box">
                        <li><span>年化收益</span><span class="red">21.9%</span></li>
                        <li><span>最大回撤</span><span class="red">21.9%</span></li>
                        <li><span>初始资金</span><span class="red">21.9%</span></li>
                    </ul>
                    <div class="desc-text">可在此处添加描述</div>
                </div>

                <!--月k线-->
                <div class="main">
                    <h3 class="title">卡片标题</h3>
                    <div id="main4" style="width: 500px;height: 400px;margin: 0 auto;"></div>
                    <ul class="desc-box">
                        <li><span>年化收益</span><span class="red">21.9%</span></li>
                        <li><span>最大回撤</span><span class="red">21.9%</span></li>
                        <li><span>初始资金</span><span class="red">21.9%</span></li>
                    </ul>
                    <div class="desc-text">可在此处添加描述</div>
                </div>


        </div>
    </div>
    <div class="section2">
        <div class="big-title">
            <span class="hLine"></span>
            <span class="title">文章精选</span>
            <span class="hLine"></span>
        </div>
        <div class="item-content">
            {% if pages %}
                {% for page in pages %}
                    <div class="item-box">
                        <h3>{{ page.content_stream.0 }}</h3>
                        {% with page.specific as content %}
                            <span>{{ content.digest }}</span>
                        {% endwith %}
                        <a href="{% pageurl page %}">查看文章</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}