{% extends 'base.html' %}
{% load static wagtailcore_tags %}
{% block headjs %}
    <script src="{% static 'js/jquery.tips.js' %}"></script>
    <script src="{% static 'js/jquery.validator.js' %}"></script>
    <script src="{% static 'js/zh_CN.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}
{% block content %}
    <!--内页大图开始-->
    <div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">

        <img src="{{ MEDIA_URL }}{{ companyinfo.topimg }}" alt="{{ companyinfo.name }}"/></div>
    <!--内页大图结束-->
    <div class="submian">
        <div class="w1200 clearfix">
            <div class="sobtitle"><s class="ico"></s>您的位置：<a href="{% slugurl 'index' %}" title="首页">首页</a> > <a
                    href="javascript:;"
                    title="新闻动态">新闻动态</a>
            </div>

            <div class="subleft fl">
                <!--栏目分类开始-->
                <div class="lefta bor9">

                    <div class="title"><h2>新闻动态</h2></div>
                    <div class="comt">
                        <ul>
                            <li class="{% ifequal request.GET.category 'gsxw' %}hover{% endifequal %}">
                                <a href="{%
                                 'news' %}?category=gsxw" title="公司新闻">公司新闻</a>
                            </li>
                            <li class="{% ifequal request.GET.category 'mtbd' %}hover{% endifequal %}">
                                <a href="{% slugurl 'news' %}?category=mtbd" title="媒体报道">媒体报道</a>
                            </li>
                            <li class="{% ifequal request.GET.category 'yggh' %}hover{% endifequal %}">
                                <a href="{% slugurl 'news' %}?category=yggh" title="员工关怀">员工关怀</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--栏目分类结束-->

                <!--联系我们开始-->
                <div class="leftnews bor9">
                    <div class="title"><i>联系我们</i></div>
                    <div class="leftcont">
                        <h2>{{ companyinfo.name }}</h2>
                        <span>
                            地址：{{ companyinfo.address }}<br>
                            电话：{{ companyinfo.telephone }}<br>
                        </span>
                        <p>咨询热线<i>{{ companyinfo.phone }}</i></p></div>
                </div>
                <!--联系我们结束-->
            </div>
            <div class="subright fr">
                <!--文章内容开始-->
                <div class="conBox">
                    <div class="ArticleTitle"><h1>{{ new_.title }}</h1></div>
                    <div class="ArticleMessage"><span>发布时间：{{ new_.add_time|date:'Y-m-d' }}</span><span>人气：<i
                            id="hits">{{ new_.click_nums }}</i></span></div>
                    <div id="article" class="ArticleTencont"><p>
                        {{ new_.info|safe }}</p>
                    </div>

                    <!--点赞开始-->
                    <div id="mood">
                        <p>你觉得这篇文章怎么样？</p>
                        <a title="赞一下" class="digs" href="javascript:;" >
                            <span class="dianzan-up"></span>
                            <em id="mood_1">
                                {% if new_.fav_nums %}
                                    {{ new_.fav_nums }}
                                {% else %}
                                    0
                                {% endif %}
                            </em></a>
                        <a title="踩一下" class="digs" href="javascript:;" >
                            <span class="dianzan-down"></span>
                            <em id="mood_2">
                                {% if new_.oppose_nums %}
                                    {{ new_.oppose_nums }}
                                {% else %}
                                    0
                                {% endif %}
                            </em></a></div>
                    <!--点赞结束-->
                    <!--标签开始-->
                    <div class="tags"><span>标签：</span>
                        {% for tag in new_.tag.all %}
                            <a href="javascript:;">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <!--标签结束-->
                    <!--统计代码开始-->
                    <div class="bshare-custom icon-medium">
                        <span>分享到：</span>
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到人人网" class="bshare-renren"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到网易微博" class="bshare-neteasemb"></a>
                        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                        <span class="BSHARE_COUNT bshare-share-count">0</span></div>
                    <script type="text/javascript" charset="utf-8"
                            src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                    <!--统计代码结束-->
                    <div class="clear"></div>


                    <!--评论开始-->
                    <div class="comment-main">
                        <div class="comment-title"><span>网友评论</span></div>
                        <div class="comment-show-box">
                            <!--评论列表开始-->
                            <div class="pl-box2">
                                <div class="item">
                                    <div class="c-commentAjax">
                                        {% for comment in comments %}
                                            <dl class="c-ajax">
                                                <dt><img src="{% static 'images/normal.png' %}"></dt>
                                                <dd><h1>匿名网友<span>{{ comment.add_time|date:'Y-m-d' }}</span></h1>
                                                    <p>评论内容测试</p>
                                                    <p class="xz-fc1">管理员回复：{{ comment.reply }}</p></dd>
                                            </dl>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="xz-cb"></div>
                            </div>
                            <!--评论列表结束-->
                            <!--评论表单开始-->
                            <form id="myform" class="form_comment">
                                <div class="fb-box">
                                    <dl>
                                        <dt><img src="{% static 'images/normal.png' %}"></dt>
                                        <dd><p><textarea type="text" name="content" placeholder="我也说两句"
                                                         data-rule="评论内容:required;" required></textarea></p>
                                            <input type="hidden" name="t1" value="匿名网友"></dd>
                                    </dl>
                                    <div class="xz-cb"></div>
                                </div>
                                <div class="fb-box-div">
                                    <dl>
                                        <dd>匿名网友</dd>
                                        <input type="submit" value="发表评论" name="send"></dl>
                                    <div class="xz-cb"></div>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                    <!--评论结束-->

                    <!--推荐资讯开始-->
                    <h4 class="anlitopH4"><span>推荐资讯</span></h4>
                    <div class="divremmnews">
                        <ul class="clearfix">
                            {% for foot_new in foot_news %}
                                <li><span class="fr">{{ foot_new.add_time|date:'Y-m-d' }}</span>
                                    <a href="#" title="{{ foot_new.title }}">
                                        {% if foot_new.title|length > 22 %}
                                            {{ foot_new.title|slice:':22' }}...
                                        {% else %}
                                            {{ foot_new.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--推荐资讯结束-->
                </div>
                <!--文章内容结束-->
            </div>
        </div>
    </div>
{% endblock %}