{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--内页大图开始-->
    <div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">

        <img src="{{ MEDIA_URL }}{{ companyinfo.topimg }}" alt="{{ companyinfo.name }}"/></div>
    <!--内页大图结束-->
    <div class="submian">
        <div class="w1200 clearfix">
            <div class="sobtitle"><s class="ico"></s>您的位置：<a href="{% url 'index' %}" title="首页">首页</a> > <a
                    href="javascript:;"
                    title="新闻动态">新闻动态</a>
            </div>

            <div class="subleft fl">
                <!--栏目分类开始-->
                <div class="lefta bor9">

                    <div class="title"><h2>新闻动态</h2></div>
                    <div class="comt">
                        <ul>
                            <li class="{% ifequal request.GET.category 'gsxw' %}hover{% endifequal %}">
                                <a href="{% url 'news' %}?category=gsxw" title="公司新闻">公司新闻</a>
                            </li>
                            <li class="{% ifequal request.GET.category 'mtbd' %}hover{% endifequal %}">
                                <a href="{% url 'news' %}?category=mtbd" title="媒体报道">媒体报道</a>
                            </li>
                            <li class="{% ifequal request.GET.category 'yggh' %}hover{% endifequal %}">
                                <a href="{% url 'news' %}?category=yggh" title="员工关怀">员工关怀</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--栏目分类结束-->
                <!--推荐产品开始-->
                <div class="leftnews bor9">
                    <div class="title"><i>推荐产品</i></div>
                    <div class="leftprocomt clearfix">
                        <ul>
                            {% for left_product in left_products %}
                                {% if forloop.counter|divisibleby:"2" %}
                                    <li style="margin-right: 0;"><a href="{% url 'product_detail' left_product.id %}"
                                                                    title="{{ left_product.name }}"><img
                                            src="{{ MEDIA_URL }}{{ left_product.img }}" alt="{{ left_product.name }}">
                                        <p>{{ left_product.name }}</p></a></li>
                                {% else %}
                                    <li><a href="{% url 'product_detail' left_product.id %}"
                                           title="{{ left_product.name }}"><img
                                            src="{{ MEDIA_URL }}{{ left_product.img }}" alt="{{ left_product.name }}">
                                        <p>{{ left_product.name }}</p></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--推荐产品结束-->

                <!--联系我们开始-->
                <div class="leftnews bor9">
                    <div class="title"><i>联系我们</i></div>
                    <div class="leftcont">
                        <h2>{{ companyinfo.name }}</h2>
                        <span>
                            地址：{{ companyinfo.address }}<br>
                            电话：{{ companyinfo.telephone }}<br>
                        </span>
                        <p>咨询热线<i>{{ companyinfo.phone }}</i></p></div>
                </div>
                <!--联系我们结束-->
            </div>
            <div class="subright fr">
                <!--文章列表开始-->
                <div class="thumblist">
                    <ul class="list clearfix">
                        {% for new_ in news %}
                            <li class="item"><a class="clearfix"
                                                href="{% url 'news_detail' new_.id %}?category={{ request.GET.category }}"
                                                title="{{ new_.title }}">
                                <div class="txt fr"><h3>{{ new_.title }}</h3>
                                    <div class="mark">
                                        <span>时间：{{ new_.add_time|date:'Y-m-d' }}</span><span>浏览量：{{ new_.click_nums }}</span>
                                    </div>
                                    <p class="desc">
                                        {{ new_.digest }}…</p>
                                </div>
                                <div class="img"><img src="{{ MEDIA_URL }}{{ new_.img }}" alt="{{ new_.title }}"></div>
                            </a></li>
                        {% endfor %}

                    </ul>
                    <div class="clear"></div>
                    <!--分页样式-->

                    <div class="pglist">
                        <a>总数 {{ news.paginator.num_pages }}</a>
                        {% if news.has_previous %}
                            <a href="?page={{ news.previous_page_number }}&category={{ request.GET.category }}">上一页</a>
                        {% else %}
                            <a href="javascript:;">上一页</a>
                        {% endif %}
                        {% for page in news.paginator.page_range %}
                            {% ifequal page news.number %}
                                <a href="javascript:;" class="hover">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}&category={{ request.GET.category }}">{{ page }}</a>
                            {% endifequal %}
                        {% endfor %}
                        {% if news.has_next %}
                            <a href="?page={{ news.next_page_number }}&category={{ request.GET.category }}">下一页</a>
                        {% else %}
                            <a href="javascript:;">下一页</a>
                        {% endif %}
                        <a>页次 {{ news.number }}/{{ news.paginator.num_pages }}</a>
                    </div>
                </div>
                <!--文章列表结束-->
                <!--推荐资讯开始-->
                <h4 class="anlitopH4"><span>推荐资讯</span></h4>
                <div class="divremmnews">
                    <ul class="clearfix">
                        {% for foot_new in foot_news %}
                            <li><span class="fr">{{ foot_new.add_time|date:'Y-m-d' }}</span>
                                <a href="{% url 'news_detail' foot_new.id %}" title="{{ foot_new.title }}">
                                    {% if foot_new.title|length > 22 %}
                                        {{ foot_new.title|slice:':22' }}...
                                    {% else %}
                                        {{ foot_new.title }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--推荐资讯结束-->
            </div>
        </div>
    </div>
{% endblock %}