{% extends 'base.html' %}
{% load static %}
{% block headjs %}
    <script src="{% static 'js/jquery.tips.js' %}"></script>
    <script src="{% static 'js/jquery.validator.js' %}"></script>
    <script src="{% static 'js/zh_CN.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
{% endblock %}
{% block content %}
    <!--内页大图开始-->
    <div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">

        <img src="{{ MEDIA_URL }}{{ companyinfo.topimg }}" alt="{{ companyinfo.name }}"/></div>
    <!--内页大图结束-->
    <div class="submian">
        <div class="w1200 clearfix">
            <div class="sobtitle"><s class="ico"></s>您的位置：<a href="{% url 'index' %}" title="首页">首页</a> > <a
                    href="javascript:;"
                    title="新闻动态">新闻动态</a>
            </div>

            <div class="subleft fl">
                <!--栏目分类开始-->
                <div class="lefta bor9">

                    <div class="title"><h2>新闻动态</h2></div>
                    <div class="comt">
                        <ul>
                            <li class="{% ifequal request.GET.category 'gsxw' %}hover{% endifequal %}">
                                <a href="{% url 'news' %}?category=gsxw" title="公司新闻">公司新闻</a>
                            </li>
                            <li class="{% ifequal request.GET.category 'mtbd' %}hover{% endifequal %}">
                                <a href="{% url 'news' %}?category=mtbd" title="媒体报道">媒体报道</a>
                            </li>
                            <li class="{% ifequal request.GET.category 'yggh' %}hover{% endifequal %}">
                                <a href="{% url 'news' %}?category=yggh" title="员工关怀">员工关怀</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--栏目分类结束-->
                <!--推荐产品开始-->
                <div class="leftnews bor9">
                    <div class="title"><i>推荐产品</i></div>
                    <div class="leftprocomt clearfix">
                        <ul>
                            {% for left_product in left_products %}
                                {% if forloop.counter|divisibleby:"2" %}
                                    <li style="margin-right: 0;"><a href="{% url 'product_detail' left_product.id %}"
                                                                    title="{{ left_product.name }}"><img
                                            src="{{ MEDIA_URL }}{{ left_product.img }}" alt="{{ left_product.name }}">
                                        <p>{{ left_product.name }}</p></a></li>
                                {% else %}
                                    <li><a href="{% url 'product_detail' left_product.id %}"
                                           title="{{ left_product.name }}"><img
                                            src="{{ MEDIA_URL }}{{ left_product.img }}" alt="{{ left_product.name }}">
                                        <p>{{ left_product.name }}</p></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!--推荐产品结束-->

                <!--联系我们开始-->
                <div class="leftnews bor9">
                    <div class="title"><i>联系我们</i></div>
                    <div class="leftcont">
                        <h2>{{ companyinfo.name }}</h2>
                        <span>
                            地址：{{ companyinfo.address }}<br>
                            电话：{{ companyinfo.telephone }}<br>
                        </span>
                        <p>咨询热线<i>{{ companyinfo.phone }}</i></p></div>
                </div>
                <!--联系我们结束-->
            </div>
            <div class="subright fr">
                <!--文章内容开始-->
                <div class="conBox">
                    <div class="ArticleTitle"><h1>{{ new_.title }}</h1></div>
                    <div class="ArticleMessage"><span>发布时间：{{ new_.add_time|date:'Y-m-d' }}</span><span>人气：<i
                            id="hits">{{ new_.click_nums }}</i></span></div>
                    <div id="article" class="ArticleTencont"><p>
                        {{ new_.info|safe }}</p>
                    </div>

                    <!--点赞开始-->
                    <div id="mood">
                        <p>你觉得这篇文章怎么样？</p>
                        <a title="赞一下" class="digs" href="javascript:;" onclick="validate_is_click(
                                '{% url 'fav_oppose' 'news' 'fav' new_.id %}',
                                {{ new_.id }},
                                {{ new_.fav_nums }},
                                'my_news_data',
                                '#mood_1',
                                )">
                            <span class="dianzan-up"></span>
                            <em id="mood_1">
                                {% if new_.fav_nums %}
                                    {{ new_.fav_nums }}
                                {% else %}
                                    0
                                {% endif %}
                            </em></a>
                        <a title="踩一下" class="digs" href="javascript:;" onclick="validate_is_click(
                                '{% url 'fav_oppose' 'news' 'oppose' new_.id %}',
                                {{ new_.id }},
                                {{ new_.oppose_nums }},
                                'my_news_data',
                                '#mood_2',
                                )">
                            <span class="dianzan-down"></span>
                            <em id="mood_2">
                                {% if new_.oppose_nums %}
                                    {{ new_.oppose_nums }}
                                {% else %}
                                    0
                                {% endif %}
                            </em></a></div>

                    <script>
                        // 点赞功能主函数
                        function validate_is_click(url, id, nums, flag, mood_id) {
                            // 取出 LocalStorage 中的数据
                            let storage = window.localStorage;
                            const storage_str_data = storage.getItem(flag);
                            let storage_json_data = JSON.parse(storage_str_data);
                            // 若数据不存在，则创建空字典
                            if (!storage_json_data) {
                                storage_json_data = {}
                            }
                            ;
                            // 检查当前文章是否已点赞。是则 status = true
                            const status = check_status(storage_json_data, id);
                            if (status) {
                                alert('已经表态了哟~');
                                // 点过赞则立即退出函数
                                return;
                            } else {
                                // 用 Jquery 找到点赞数量，并 +1
                                $(mood_id).text(nums + 1);
                            }
                            // 用 ajax 向后端发送 post 请求
                            $.post(
                                url,
                                // post 只是为了做 csrf 校验，因此数据为空
                                {},
                                function (result) {
                                    if (result === 'success') {
                                        // 尝试修改点赞数据
                                        try {
                                            storage_json_data[id] = true;
                                        } catch (e) {
                                            window.localStorage.clear();
                                        }
                                        ;
                                        // 将字典转换为字符串，以便存储到 LocalStorage
                                        const d = JSON.stringify(storage_json_data);
                                        // 尝试存储点赞数据到 LocalStorage
                                        try {
                                            storage.setItem(flag, d);
                                        } catch (e) {
                                            // code 22 错误表示 LocalStorage 空间满了
                                            if (e.code === 22) {
                                                window.localStorage.clear();
                                                storage.setItem(flag, d);
                                            }
                                        }
                                        ;
                                    } else {
                                        alert("与服务器通信失败..过一会儿再试试呗~");
                                    }

                                }
                            );
                        };

                        // 辅助点赞主函数，验证点赞状态
                        function check_status(data, id) {
                            // 尝试查询点赞状态
                            try {
                                if (id in data && data[id]) {
                                    return true;
                                } else {
                                    return false;
                                }
                            } catch (e) {
                                window.localStorage.clear();
                                return false;
                            }
                            ;
                        };
                    </script>
                    <!--点赞结束-->
                    <!--标签开始-->
                    <div class="tags"><span>标签：</span>
                        {% for tag in new_.tag.all %}
                            <a href="javascript:;">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <!--标签结束-->
                    <!--统计代码开始-->
                    <div class="bshare-custom icon-medium">
                        <span>分享到：</span>
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到人人网" class="bshare-renren"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到网易微博" class="bshare-neteasemb"></a>
                        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                        <span class="BSHARE_COUNT bshare-share-count">0</span></div>
                    <script type="text/javascript" charset="utf-8"
                            src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                    <!--统计代码结束-->
                    <div class="clear"></div>
                    <div class="reLink clearfix">
                        <div class="prevLink">上一篇：
                            {% if pre_new %}
                                <a title="{{ pre_new.title }}"
                                   href="{% url 'news_detail' pre_new.id %}?category={{ request.GET.category }}">{{ pre_new.title }}</a>
                            {% else %}
                                <a title="暂无数据">暂无数据</a>
                            {% endif %}
                        </div>
                        <div class="nextLink">下一篇：
                            {% if next_new %}
                                <a title="{{ next_new.title }}"
                                   href="{% url 'news_detail' next_new.id %}?category={{ request.GET.category }}">{{ next_new.title }}</a>
                            {% else %}
                                <a title="暂无数据">暂无数据</a>
                            {% endif %}
                        </div>
                    </div>

                    <!--评论开始-->
                    <div class="comment-main">
                        <div class="comment-title"><span>网友评论</span></div>
                        <div class="comment-show-box">
                            <!--评论列表开始-->
                            <div class="pl-box2">
                                <div class="item">
                                    <div class="c-commentAjax">
                                        {% for comment in comments %}
                                            <dl class="c-ajax">
                                                <dt><img src="{% static 'images/normal.png' %}"></dt>
                                                <dd><h1>匿名网友<span>{{ comment.add_time|date:'Y-m-d' }}</span></h1>
                                                    <p>评论内容测试</p>
                                                    <p class="xz-fc1">管理员回复：{{ comment.reply }}</p></dd>
                                            </dl>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="xz-cb"></div>
                            </div>
                            <!--评论列表结束-->
                            <!--评论表单开始-->
                            <form id="myform" class="form_comment">
                                <div class="fb-box">
                                    <dl>
                                        <dt><img src="{% static 'images/normal.png' %}"></dt>
                                        <dd><p><textarea type="text" name="content" placeholder="我也说两句"
                                                         data-rule="评论内容:required;" required></textarea></p>
                                            <input type="hidden" name="t1" value="匿名网友"></dd>
                                    </dl>
                                    <div class="xz-cb"></div>
                                </div>
                                <div class="fb-box-div">
                                    <dl>
                                        <dd>匿名网友</dd>
                                        <input type="submit" value="发表评论" name="send"></dl>
                                    <div class="xz-cb"></div>
                                </div>
                                {% csrf_token %}
                            </form>
                            <script>
                                $("#myform").submit(function () {
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "{% url 'news_detail' new_.id %}",
                                        data: $('#myform').serialize(),
                                        async: true,
                                        success:
                                            function (data) {
                                                if (data.status == 'success') {
                                                    alert("提交成功，等待管理员审核！");
                                                    location.reload();
                                                } else if (data.status == 'failed') {
                                                    alert("提交失败，请修改信息后，重新提交！");
                                                }
                                            }
                                    });
                                    return false   // 防止路由转向，即不刷新页面
                                })
                            </script>
                            <!--评论表单结束-->
                        </div>
                    </div>
                    <!--评论结束-->

                    <!--推荐资讯开始-->
                    <h4 class="anlitopH4"><span>推荐资讯</span></h4>
                    <div class="divremmnews">
                        <ul class="clearfix">
                            {% for foot_new in foot_news %}
                                <li><span class="fr">{{ foot_new.add_time|date:'Y-m-d' }}</span>
                                    <a href="{% url 'news_detail' foot_new.id %}" title="{{ foot_new.title }}">
                                        {% if foot_new.title|length > 22 %}
                                            {{ foot_new.title|slice:':22' }}...
                                        {% else %}
                                            {{ foot_new.title }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--推荐资讯结束-->
                </div>
                <!--文章内容结束-->
            </div>
        </div>
    </div>
{% endblock %}