{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-companydailycontentpage{% endblock %}

{% block content %}

    <div id="banner_main" >
            <div id="banner" class="banner">
                <ul class="list clearfix">
                    <li><a href="javascript:;">{% if page.image %}{% image page.image fill-1920x550 %}{% endif %}</a></li>
                </ul>
                <div class="tip"></div>
<!--                <div class="text">-->
<!--                    <p>{{ private_context.info_title }}</p>-->
<!--                    <p>{{ private_context.info }}</p>-->
<!--                </div>-->
            </div>
        </div>

    <div class="submian">
        <div class="container clearfix">
            <div class="subright">
                <!--单页内容开始-->
                {% if page.first_big_title %}
                    <!--title1大标题-->
                    <h3 class="title1">{% include_block page.first_big_title %}</h3>
                {% endif %}

                {% for block in page.body %}
                    {% if block.block_type == 'content' %}
                        {% include_block block %}
                    {% elif block.block_type == 'source_code' %}
                        {% include_block block %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}