{% extends 'base.html' %}
{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-companyrecruitspage{% endblock %}
{% block content %}
    <!--内页大图开始-->
    <div id="banner_main" >
        <div id="banner" class="banner">
            {% with page.top_image as private_context %}
            <ul class="list clearfix">
                <li><a href="javascript:;">{% if private_context %}{% image private_context.banner_image fill-1920x550 %}{% endif %}</a></li>
            </ul>
            <div class="tip"></div>
            <div class="text">
                <p>{{ private_context.info_title }}</p>
                <p>{{ private_context.info }}</p>
            </div>
            {% endwith %}

        </div>
    </div>
    <!--内页大图结束-->
    <div class="submian">
        <div class="container recruit">
            {% if campus_recs %}
                {% with campus_recs.0.specific as content %}
                <div class="col-md-6 col-xs-12 recruit-item">
                    <h3>校园招聘</h3>
                    <p>{{ page.campus_intro }}</p>
                    <a href="{% pageurl content %}">查看详情 ></a>
                </div>
                {% endwith %}
            {% endif %}
            {% if social_recs %}
                {% with social_recs.0.specific as content %}
                <div class="col-md-6 col-xs-12 recruit-item">
                    <h3>社会招聘</h3>
                    <p>{{ page.social_intro }}</p>
                    <a href="{% pageurl content %}">查看详情 ></a>
                </div>
                {% endwith %}
            {% endif %}
        </div>
        <div class="w1200 clearfix">
            <div class="subright">
                <!--单页内容开始-->
                {{ page.info|safe }}
                <!--单页内容结束-->
            </div>
        </div>
    </div>
{% endblock %}