{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--内页大图开始-->
    <div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">
        <img src="{{ MEDIA_URL }}{{ companyinfo.topimg }}" alt="{{ companyinfo.name }}"/></div>
    <!--内页大图结束-->
    <div class="submian">
        <div class="container recruit">
            <div class="col-md-6 col-xs-12 recruit-item">
                <h3>校园招聘</h3>
                <p>员工的才华、智慧及热忱成就了今天的摩根士丹利，摩根士丹利为你提供与顶尖团队学习和共事的最佳平台。</p>
                <a href="javascript:;">查看详情 ></a>
            </div>
            <div class="col-md-6 col-xs-12 recruit-item">
                <h3>社会招聘</h3>
                <p>如果你已练就一身本领，想要和业内最优秀的人才一起改变世界，那么请加入我们。</p>
                <a href="javascript:;">查看详情 ></a>
            </div>
        </div>
        <div class="w1200 clearfix">
            <div class="subright">
                <!--单页内容开始-->
                {{ recruit.info|safe }}
                <!--单页内容结束-->
            </div>
        </div>
    </div>
{% endblock %}