{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--内页大图开始-->
    <div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">
        <img src="{{ MEDIA_URL }}{{ companyinfo.topimg }}" alt="{{ companyinfo.name }}"/></div>
    <!--内页大图结束-->
    <div class="submian">
        <div class="w1200 clearfix">


            <div class="subright fr">

                <!--单页内容开始-->
                {% ifequal request.GET.flag 'ryzz' %}
                    {{ companyinfo.honor|safe }}
                {% else %}
                    {{ companyinfo.info|safe }}
                {% endifequal %}
                <!--单页内容结束-->
            </div>
        </div>
    </div>
{% endblock %}